<template>
    <div>
        <button v-on:click="getData">Fetch Data</button>
        <table v-on:click="getData">
            <tr v-if =" posts.length != 0">
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>State</th>
                <th>Timestamp</th>
            </tr>
            <tr v-for="(item, index) in posts" v-bind:key="index" v-bind:video="index">
                <td>
                    {{posts[index]["id"]}}
                </td>
                <td>
                    {{posts[index]["name"]}}
                </td>
                <td>
                    {{posts[index]["age"]}}
                </td>
                <td>
                    {{posts[index]["gender"]}}
                </td>
                <td>
                    {{posts[index]["state"]}}
                </td>
                <td>
                    {{posts[index]["timestamp"]}}
                </td>
            </tr>
        </table>
    </div>
</template>

<script>

export default {
        name: 'CoronaApp',
        data() {
            return {
                posts: [],
            };
        },
        methods: {
             async getData() {
                try {
                    let response = await fetch("https://localhost:5000/api/cases");
                    this.posts = await response.json();
                    //console.log(this.posts.length);
                    //for (var i = 0; i < this.posts.length; i++) {
                    //    console.log(this.posts[i]);
                    //}
                } catch (error) {
                    console.log(error);
                }
            },
        },
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border-width : 3px;
        border-style: solid;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
